.bigCounter{
    text-align: center;
    background: black;
}

.bigCounter div{
    display: inline-block;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    background: #101010;
    color: #ffffff;
    padding: 12px;
    margin: 4px;
}   